# Игнорировать виртуальное окружение Python
.venv/
venv/
.env
.env_for_server

# Игнорировать директории, связанные с IDE (например, PyCharm)
.idea/

# Игнорировать медиа файлы (если они не должны быть версионными)
media/

# Игнорировать статические файлы (если они собираются автоматически)
staticfiles/

# Игнорировать все в папке `__pycache__`, временные файлы и файлы конфигурации
__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Игнорировать базы данных
*.sqlite3
*.db

# Игнорировать сборочные артефакты
*.egg-info/
*.eggs/
*.egg
build/
dist/
*.whl

# Игнорировать требования и зависимости (если у тебя есть lock-файлы)
pip-log.txt
pip-delete-this-directory.txt

# Игнорировать другие возможные временные файлы
.DS_Store
Thumbs.db

db/

migrations/
